body{
    font-family: 'Roboto', sans-serif;
}
#highlight{
    color: rgb(190, 12, 190);


}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
  }

.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(177, 198, 238), rgb(11, 88, 230));
    border-radius: 5px;
    padding: 2px 24px;
    color: white;
    font-weight: 900;
}
#first-background{
    background-image: url(images1/header-bg.png);
    height: 300px;
    padding-bottom:300px;
    background-repeat: no-repeat;
}
}
#second-background{
    background-image: url(images1/biography-bg.png);
    height: 300px;
    padding-bottom:300px;
    background-repeat: no-repeat;
}
#third-background{
    background-image: url(images1/latest-work-bg.png);
    height: 300px;
    padding-bottom:150px;
    background-repeat: no-repeat; 
 }
.photo-position{
    width: 30%;
    float: left;
    padding: 0.2%;
    margin: 1%; 
 }
 .photo-position img{
     width: 100%;
 }
 section{
    height: 200px;
    padding-bottom:300px;
    background-repeat: no-repeat; 
 }
 #middle-position{
     text-align: center;
 }
 #last-background{
     background-image: url(images1/footer-bg.png);
     height: 300px;
     padding-bottom: 200px;
     background-repeat: no-repeat;
     text-align: center;
 }
 #client{
     height: 60px;
 }
 #found{
     height: 30;
 }
 #lorem{
     height: 70px;
     text-align: center;
 }
#mark{
   height: 80px;
   border-radius: 5px;
   padding: 1%;
   margin: 2px 20%;
   background-image: linear-gradient(45deg, rgb(129, 8, 103), rgb(230, 11, 194));
   color: white;
   font-style: italic;
}
#small{
    font-size: 50%;
}
footer{
    text-align: center;
    font-size: 50%;
}